* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  overflow-x: hidden;
  width: 100%;
}

.site_content {
  padding: map-get($padding, "standard") 10%;
}

.image_me {
  width: 15rem;
  float: right;
}