/* --- Variabels --- */
.navbar_button {
  width: auto;
  padding: 1.2em;
  text-transform: uppercase;
  text-decoration: none;
  color: #2c3e50;
  cursor: pointer; }

.multinavigation-button {
  width: auto;
  padding: 0;
  margin: 0;
  text-transform: uppercase;
  color: #515151;
  cursor: pointer; }
