/* --- Variabels --- */
.navbar {
  width: 100%;
  padding: 1.2em 10% 1.2em 60%;
  margin: 0;
  display: flex;
  flex-flow: nowrap row;
  justify-content: space-between;
  gap: 1.2em;
  color: #515151; }

a.navbar-activeLink {
  color: #3d868f; }

.multinavigation {
  width: 100%;
  padding: 1.2em 0;
  margin: 0;
  display: flex;
  flex-flow: nowrap row;
  justify-content: space-between;
  gap: 1.2em; }
