/* --- Variabels --- */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

html {
  overflow-x: hidden;
  width: 100%; }

.site_content {
  padding: 1.333rem 10% 10%; }

.image_me {
  width: 15rem;
  float: right; }

/* --- Variabels --- */
#app html {
  font-size: 100%;
  line-height: 1.333; }

#app body {
  font-family: "Verdana";
  font-size: 1em;
  font-weight: 1em;
  line-height: 1.333; }

#app h1 {
  font-size: 5.61rem;
  font-weight: 600;
  font-family: "Impact";
  padding-bottom: 2.666rem;
  color: #515151;
  /* lobster-regular - latin */ }

#app h2 {
  font-size: 4.209rem;
  font-weight: 500;
  font-family: "Impact";
  padding-bottom: 2.666rem;
  color: #515151; }

#app h3 {
  font-size: 3.157rem;
  font-weight: 400;
  font-family: "Palatino";
  padding-bottom: 1.333rem;
  color: #515151; }

#app h4 {
  font-size: 2.369rem;
  font-weight: 400;
  font-family: "Palatino";
  padding-bottom: 1.333rem;
  color: #515151; }

#app h5 {
  font-size: 1.777rem;
  font-weight: 400;
  font-family: "Palatino";
  padding-bottom: 1.333rem;
  color: #515151; }

#app h6 {
  font-size: 1.333rem;
  font-weight: 400;
  font-family: "Palatino";
  padding-bottom: 1.333rem;
  color: #515151; }

#app p {
  font-size: 1rem;
  font-weight: 300;
  font-family: "Verdana";
  padding-bottom: 1.333rem;
  color: #515151; }

#app ol {
  padding-bottom: 1.333rem; }
  #app ol li {
    font-size: 1rem;
    font-weight: 300;
    color: #515151;
    padding-bottom: 0.6665rem; }

#app .site_header-title {
  text-align: center;
  font-family: "Impact";
  font-weight: 600;
  font-size: 5.61rem;
  color: #fcfcfc; }

/* --- Variabels --- */
.navbar {
  width: 100%;
  padding: 0 10% 1.333rem 60%;
  margin: 0;
  display: flex;
  flex-flow: nowrap row;
  justify-content: space-between;
  gap: 1.333rem;
  color: #515151; }

.multinavigation {
  width: 100%;
  padding: 0 10% 1.333rem;
  margin: 0;
  display: flex;
  flex-flow: nowrap row;
  justify-content: space-between;
  gap: 1.333rem; }

.site_header {
  width: 100%;
  display: block; }
  .site_header-title {
    position: absolute;
    top: 7rem;
    z-index: 200;
    width: 100%;
    margin: 0 auto;
    display: inline-block; }
  .site_header-image {
    width: 100%;
    height: auto;
    z-index: 100;
    display: block; }

/* --- Variabels --- */
/* --- Navbar --- */
.navbar_button {
  width: auto;
  padding: 1.333rem;
  text-transform: uppercase;
  text-decoration: none;
  color: #2c3e50;
  cursor: pointer; }

a.navbar-activeLink {
  color: #3d868f; }

/* --- Multinavigation --- */
.multinavigation_button {
  width: auto;
  padding: 0;
  margin: 0;
  text-transform: uppercase;
  color: #515151;
  cursor: pointer; }

.activeReport {
  color: #3d868f; }
